* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin: 5px 0px 10px 0px;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}

#submitBtn {
  margin: 10px 0px;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

#submitBtn:hover {
  background-color: #43a047;
}
